<footer class="footer admin-panel">
	<div class="container">
		<div class="footer__container">
			<div class="footer__socials">
				<div class="footer__socials-top">
					<div class="footer__logo">
						<a href="/">
							<img src="img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="footer__socials-bot">
					<span class="footer__copyright">© 2006-2016, Онлайн-центр беременных и кормящих мам.
						Дизайн и разработка сайта <a href="http://garnet-software.com/lp" class="footer__developer">GARNET SOFTWARE</a></span>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.js"></script>
</body>
</html>