<footer class="footer">
	<div class="container">
		<div class="footer__container">
			<div class="footer__socials">
				<div class="footer__socials-top">
					<div class="footer__logo">
						<a href="/">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<div class="footer__callback">
						<a href="" class = "button blue">Написать нам	</a>
					</div>
					<div class="footer__social-links">
						<a href="/" class = "vk link"></a>
						<a href="/" class = "fb link"></a>
					</div>
				</div>
				<div class="footer__socials-bot">
					<span class="footer__copyright">© 2006-2016, Онлайн-центр беременных и кормящих мам.
						Дизайн и разработка сайта <a href="http://garnet-software.com/lp" class="footer__developer">GARNET SOFTWARE</a></span>
				</div>
			</div>
			<div class="footer__contacts">
				<div class="footer__contact-links">
					<a href="skype:life_diet" class="footer__skype">life_diet</a>
					<a href="tel:+38 (044) 39 48 781" class="footer__phone">+38 (044) 39 48 781</a>
					<a href="tel:+7 (499) 40 40 815" class="footer__phone">+7 (499) 40 40 815</a>
				</div>
				<div class="footer__adress">
					<span class="footer__location">г. Днепр, ул Владимира Мономаха</span>
					<a class = "footer__mail" href="mailto:ls_manager@gmail.com">ls_manager@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.js"></script>
</body>
</html>