<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
	<header class = "header">
		<div class="container">
			<div class="header__container">
				<div class="header__brand">
					<div class="header__logo">
						<a href="/">
							<img src="img/logo.png" alt="logo">
						</a>
					</div>
					<div class="header__info">
					
						<span class="header__title"><span class="pink">Онлайн-центр</span> беременных<br>
								и кормящих мам</span>
						<span class="header__link">
							mybaby.diet
						</span>
					
					</div>
				</div>
				<div class="header__tagline">
					<span class="header__tagline-part">Cчастливая<br>
						беременность.</span>
					<span class="header__tagline-part">Лёгкие<br>
						роды.</span>

					<span class="header__tagline-part last">Здоровый<br>
						ребёнок.</span>
				</div>
			</div>
		</div>
	</header>
	<nav class = "site-menu">
		<div class="container">
			<div class="site-menu__outter">
				<ul class = "site-menu__container">
					<li class = "site-menu__item i1">
						<a href="#">Курс</a>
					</li>
					<li class = "site-menu__item i2">
						<a href="#">Курс</a>
					</li>
					<li class = "site-menu__item i3">
						<a href="#">Курс</a>
					</li>
					<li class = "site-menu__item i4">
						<a href="#">Курс</a>
					</li>
					<li class = "site-menu__item i5">
						<a href="#">Курс</a>
					</li>
				</ul>
				<div class="site-menu__cabinet-info">
					<div class="dropmenu-wrap">
						<a href = "#"class="site-menu__cabinet-link">
							<img src="img/index-woman.png" alt="">
						</a>
					</div>
					<a href= "#" class = "site-menu__inbox">
						<span class="site-menu__inbox-count">
							1
						</span>
					</a>
				</div>
			</div>
		</div>

	</nav>