$bluesky : #0091ea;
$text-color: #527896;
$text-light: #9bb4c7;
$text-darker: #4c6781;
$pink: #f06292;


$regular: 'raleway-reg';
$medium : 'raleway-med';
$black: 'raleway-black';
$semibold : 'raleway-semibold';
$bold : 'raleway-bold';


//oocsss

